{
    "env": {
        "node": true,
        "es6": true
    },
    "globals": {
        "_": "writable",
        "__": "writable"
    },
    "parserOptions": {
        "ecmaVersion": 2018
    },
    "rules": {
        "no-unused-vars": "off",
        "no-empty": "off",
        "no-constant-condition": "off"
    },
    "extends": "eslint:recommended"
}